* {
  list-style-type: none;
}

.App {
  padding: 6rem 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #fff;
}

.page-title {
  color: dodgerblue;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: darkgray;

  &:active {
    color: #121212;
  }
}

.main {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.btn-user {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}

.horizontal-divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

section {
  padding: 1rem;
  background-color: #fafafa;
}

.bold {
  color: black;
}
